<div class="row">
    <div class="col-sm-5">
        <form>
            <div class="row">
                <div class="col-9">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-control" type="text" name="" id="name" #nameInput>
                </div>
                <div class="col-3">
                    <label for="amount" class="form-label">Amount</label>
                    <input type="number" name="" id="amount" class="form-control" #amountInput>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12 d-flex gap-2">
                    <button type="button" class="btn btn-primary" (click)="onAddClick(nameInput, amountInput)">Add</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-secondary">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>